.subjects {
  .subject-item {
    .title {
      padding: 15px 0;
    }
    .birthdate {
      width: 30%
    }
    .full-name {
      width: 40%;
    }

    .avg-notes {
      width: 30%;
    }

  }
}
